.Page{
    height: 100%;
    margin: 1% 2%;
    padding: 2%;
    box-sizing: border-box;
    background-color: dimgrey;
}

@media(max-width: 767px){
    .Page{
        margin: 0;
    }
}

.Page h2.title{
    margin-top: 0;
    color: white;
}

.Page h2.title > span.subtitle{
    font-size: 16px;    
    color: cornsilk;
}