.GasMPG{
    height: 100%;
    width: 80%;
    position: relative;
}

@media( max-width: 767px){
    .GasMPG{
        width: 100%;
    }
}

.GasMPG .chart{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: beige;
}

.GasMPG .data{
    width: 100%;
    background-color: beige;
}