.Section{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 8px;
    margin: 16px 0px;
    border-radius: 4px;
    box-sizing: border-box;
}
.Section .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    box-sizing: border-box;
}
.Section .title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Section .title_container > h3.title {
    margin: 8px 4px;
    color: #99FFFF;
}

/* @media( max-width: 767px){
    .Section{
        margin: 8px 0px;
    }
} */