.DataTable {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.DataTable .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}